<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Listar</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="conteiner">
        <table>
            <thead>
                <tr>
                    <th>Identificador</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                </tr>
            </thead>
            <tbody>
                <tr class="empty" th:if="${users.empty}">
                    <td> No hay Usuarios</td>
                </tr>
                <tr th:each="user : ${users}">
                    <td class="id"><a th:text="${user.cc}" th:href="${'/editar/'+user.cc}">id</a></td>
                    <td th:text="${user.name}"> name</td>
                    <td th:text="${user.mail}"> mail</td>
                </tr>
            </tbody>
        </table>
        <div>
            <a class="crear" href="#" th:href="@{/crear}">Crear</a>
        </div>
    </div>

</body>

</html>