body{
    background-color: aquamarine;
}
tr{
    height: 50px;
    color: rgb(226, 159, 226);
    background-color: gray;
    text-align: center;
    margin: 2px 0px;
    padding: 2px 0px;
    font-size: 25px;
}
input{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    background: transparent;
    border: transparent;
}

.button{ 
    border-radius: 5px;
    border:2px black;
    background: gray;
    width: 20%;
    height: 30px;;
    margin:0px 30%;
    
}
div{
    margin: 10px;
    padding: 5px;
}
thead{
    background-color: beige;
    text-align: center;
}
td{
    margin: 2px 0px;
    padding: 2px 0px;
}
table{
    size: 100%;
    width: 100%;
}
tr:nth-child(2n+1){
    background-color:wheat;
    color: rgb(211, 101, 211);
}
.id{
    width: 5%;
}
ul{
    font-size: 20px;
    color: tomato;
}
select{
    width: 100%;
    height: 100%;
    font-size: 20px;
    background: transparent;
    border: transparent;
}
.opcion{
    margin: 20px;
    font-size: 30px;
    text-align: center;
    
}
.opciones{
    margin: 20px;
    padding: 30px;
    
}
.empty{
    font-size: 30px;
    margin:0% 30%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blueviolet;

}
