<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    
    <title>Bienvenido</title>
    <link rel="stylesheet" href="opciones.css">
</head>

<body>
    <form th:action="@{/evaluar}" th:object="${user}" method="post">
        <div class="conteiner">
            <input class="opcion" type="submit" name="action" value="Realizar Atención" >
            <input class="opcion" type="submit" name="action" value="Medicamentos" >
            <input class="opcion" type="submit" name="action" value="Listar Atenciones">
        </div>
    </form>
</body>

</html>